body {
    padding: 150px 40px;
    font-family: 'Acme', sans-serif;
    color: black;
}

.game-cell {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    margin: 1px 0px;
    color: grey;
    vertical-align: middle;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
}

.player1-cell {
    background-color: blue;
}

.player2-cell {
    background-color: red;
}

.empty-cell {
    background-color: transparent;
}
