body {
    padding: 40px 40px;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/Nice-Green-Background.jpg");
    background-repeat: repeat;
}

#game-board {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9);
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
}

#retry-button {
    background-color: #c46210;
}

#retry-button:hover {
    background-color: #ffcc33;
}

h1 {
    color: white;
    padding: 10px;
    font-weight: bold;
}


.game-cell {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 55px;
    height: 55px;
    font-size: 18px;
    text-align: center;
    margin: 1px 0px;
    color: grey;
    vertical-align: middle;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    border-radius: 1px;
}

.player1-cell {
    background-color: #2e5894;
}

.player2-cell {
    background-color: 	#9c2542;
}

.empty-cell {
    background-color: transparent;
}
