{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}

{% block content %}
    <nav class="navbar fixed-top navbar-dark">
        <div class="container d-flex justify-content-between">
        <button id="retry-button" class="btn font-weight-bold" onclick="location.reload()">Restart game</button>
        <div class="d-flex justify-content-center align-text-bottom">
            <h1>Game of life</h1>
        </div>
        <a href="/" class="btn btn-outline-light font-weight-bold text-primary  ">Main menu</a>
        </div>
    </nav>
    <div class="container text-white pt-5 mt-5">
        <div class="row d-flex justify-content-between">
            <div class="col d-flex justify-content-start">
              Player1's turn! Move
            </div>
            <div class="col d-flex justify-content-center">
              TURN:
            </div>
            <div class="col d-flex justify-content-end">
              Player2's turn! Move
            </div>
         </div>
    </div>

    <div class="d-flex justify-content-center">
        <div id="game-board" class="mb-3 bg-light {%  %}" data-row-num="{{ row_num }}" data-col-num="{{ col_num }}"
             data-turn-num="{{ turn_num }}" data-start-cells="{{ start_cells }}">
            {% for row in range(row_num) %}
                <div>
                    {% for col in range(col_num) %}
                        <div class="game-cell empty-cell"
                             data-coordinate-x="{{ col }}"
                             data-coordinate-y="{{ row }}"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
